{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poultry Inventory</title>
   <link rel="icon" href="{% static 'images/shikin.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/password.css' %}">
</head>
<body>
  <div class="container">
    <h2>Admin</h2>
    <form action="{% url 'main' %}" method="post">
      {% csrf_token %} <!-- Cross Site Request Forgery para ipasa ang request to another page-->
      <label for="password">Password <span class="required">*</span></label>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" id="password" name="password" placeholder="Password" required>
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
</body>
</html>

