@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jacques Francois', serif;
}

/* Layout */
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #d32020;
  color: white;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.main-content {
  margin-left: 220px;
  flex-grow: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

/* Sidebar content */
.admin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.admin-name {
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.nav-links i {
  font-size: 20px;
}

.logout-section a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  text-decoration: none;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.sidebar-link.active {
  background-color: white;
  color: #d32020 !important;
  font-weight: bold;
}

.sidebar-link.active i {
  color: #d32020;
}

.table-container {
  background-color: #f0eaea;
  padding: 20px;
  border-radius: 15px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-family: 'Courier New', Courier, monospace;
}

th {
  font-weight: bold;
}

#no-results {
  text-align: center;
  font-size: 18px;
  color: #000000;
  display: none;
  margin-top: 5rem;
}


/* Buttons */
.add-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #d32020;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s;
}


.action-menu {
  position: fixed;
  bottom: 100px;
  right: 30px;
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1000;
}

.action-menu button {
  background-color: #d32020;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.save-btn {
  margin-top: 20px;
  background-color: #d32020;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-btn:hover {
  background-color: #b81d1d;
}

